<% require 'cgi' %> 	
<!-- http://www.moxleystratton.com/blog/2007/07/31/ruby-escape-unescape-encode-decode-html-xml-uri-url/ -->

<%= image_tag @book.image_url, class: "book_cover" %>
<h3><%= @book.title %></h3>
<h4>by <%= @book.author.name %></h4>

<% if !@book.description.present? %>
	<p>No description available.</p>
<% else %>
	<p><%= @book.description %></p>
<% end %>

<%= link_to 'Bookmark' %></br>
<%= link_to 'Add author to Favorites' %></br>

<% if @book.reviewed %>
	<h4>NYT Reviews</h4>

	<% @book.reviews.each do |review| %>
		<p>
		<%= CGI.unescapeHTML(review.blurb) %>  <%= link_to review.reviewer.name, reviewer_url(review.reviewer_id) %></br>
		<%= link_to 'Full review', review.url %>
		</p>
	<% end %>
<% end %>

<h4>Latest Comment</h4>
<% if @book.comments.count > 0 %>
	<% comment = @book.comments.order('date DESC').first %>
	<p><%= comment.user.username %> says:</br>
	<%= comment.text %></p>
	<%= link_to 'View all comments', "/books/#{@book.id}/comments" %></br>
<% else %>
	No comments yet.
<% end %>
<% if cookies['user_id'].present? %>
	<p><%= link_to 'Leave a comment', new_comment_url(@book.id) %></p>
<% else %>
	<p><%= link_to 'Sign in', login_url %> to leave a comment.</p>
<% end %>

<p><%= link_to 'Home', books_url %></p>