<!DOCTYPE html>
<html>
<head>
  <title>NYT Books</title>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>">NYT Books</a>
    </div>

    <div class="collapse navbar-collapse" id="nyt-books-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=<%= archive_url %>>Archive</a></li>
        <% if session['user_id'].present? %>
          <li><a href="<%= favorite_books_url(session['user_id']) %>">Favorite Books</a></li>
          <li><a href="<%= favorite_authors_url(session['user_id']) %>">Favorite Authors</a></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if session['user_id'].present? %>
          <li><a href="<%= logout_url %>" data-method="delete">Sign Out</a></li>
        <% else %>
          <li><a href="<%= login_url %>">Sign In</a></li>
          <li><a href="<%= create_account_url %>">Sign Up</a></li>
        <% end %>
      </ul> 
    </div>  
  </div>  
</nav> 

<% if notice.present? %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
